.centerDiv{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #2EAEA6;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  
}

.b {
  background-color: #30BCB3;
  color: white;
  width: 90%;
}